html {
    min-height: 100%;
    position: relative;
}


/* body{
    margin-top: 0;
    padding: 0;
    
    } */

#blogHost-brand {
    font-family: 'Fuggles', cursive;
    font-size: 4.5em;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 173, 80);
    border-radius: 50px;
    line-height: 1.15;
    margin-left: 40px;
    letter-spacing: 1.2px;
    padding: 0.1em 0.28em;
}

#title {
    margin-top: 50px;
    font-size: 2.6em;
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.63);
}

.postbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn2 {
    margin-left: 60px;
    background-color: rgb(255, 183, 68);
}

.btn1 {
    margin-right: 60px;
}

#nav-btnColor {
    font-weight: bold;
    color: blue;
}



::-webkit-scrollbar{
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#ff9100);
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#30ff00);
  }